<div class="form-group fg-float m-b-30" data-ng-class="{'has-error has-feedback' : showError || to.serverError }">

    <small style="position: absolute;  top: -20px; color: #959595;"
           data-ng-class="{'input-error' : showError || to.serverError}">{{ to.label }}
    </small>
    <!--Campo-->
    <select chosen data-placeholder-text-single="to.placeholder" no-results-text="to.noResultsText" class="w-100"
            ng-options="option.key as option.label for option in to.options" data-ng-model="model[options.key]">
        <option value="">{{ to.nullOption }}</option>
    </select>

    <!-- Aqui fica as mensagens de erro-->
    <div data-ng-if="showError" data-ng-messages="fc.$error">
        <small data-ng-message="{{::name}}" data-ng-repeat="(name, message) in ::options.validation.messages"
               class="input-error">
            {{ message(options.formControl.$viewValue, options.formControl.$modelValue, this )}}
        </small>
    </div>

    <!-- Aqui fica as mensagens de erro do Servidor-->
    <div data-ng-if="to.serverErrorMessage.length">

        <small data-ng-repeat="message in to.serverErrorMessage" class="input-error">
            {{ message }}<br>
        </small>

    </div>
</div>

