<div class="form-group fg-float m-b-30" data-ng-class="{'has-error has-feedback' : showError || to.serverError }">

    <!--Campo-->
    <div  ng-class="{'fg-toggled': model[options.key] || focus}">

        <input type="{{ to.type }}" class="input-sm form-control fg-input" ng-focus="focus=true"
               data-ng-model="model[options.key]" ng-blur="focus=false">

        <!-- Label com efeito especial-->
        <label class="fg-label" data-ng-class="{'input-error' : showError || to.serverError}">{{ to.label }}</label>
    </div>

    <!-- Icone ao final do Input com X-->
    <span class="zmdi zmdi-close form-control-feedback" data-ng-show="showError || to.serverError"></span>

    <!-- Aqui fica as mensagens de erro-->
    <div data-ng-if="showError" data-ng-messages="fc.$error">
        <small data-ng-message="{{::name}}" data-ng-repeat="(name, message) in ::options.validation.messages"
               class="input-error">
            {{ message(options.formControl.$viewValue, options.formControl.$modelValue, this )}}
        </small>
    </div>

    <!-- Aqui fica as mensagens de erro do Servidor-->
    <div data-ng-if="to.serverErrorMessage.length">

        <small data-ng-repeat="message in to.serverErrorMessage" class="input-error">
            {{ message }}<br>
        </small>

    </div>
</div>
