<div data-ng-class="{'has-error has-feedback' : showError || to.serverError }">


    <small style="position: absolute;  top: -20px; color: #959595;"
           data-ng-class="{'input-error' : showError || to.serverError}">{{ to.label }}
    </small>

    <div class="radio m-b-15">
        <label class="radio radio-inline m-r-20" data-ng-repeat="(value, label) in to.inputs ">
            <input type="radio" data-ng-value="value" data-ng-model="model[options.key]">
            <i class="input-helper"></i>
            {{ label }}
        </label>
    </div>

    <!-- Aqui fica as mensagens de erro
    TODO: Messages não funcionar para radio, talvez por ter vários input, coloquei direto no código mas é necessário arrumar-->
    <div data-ng-if="showError" data-ng-messages="fc.$error">
        <small class="input-error">Campo Obrigatório</small>
    </div>

    <!-- Aqui fica as mensagens de erro do Servidor-->
    <div data-ng-if="to.serverErrorMessage.length">

        <small data-ng-repeat="message in to.serverErrorMessage" class="input-error">
            {{ message }}<br>
        </small>

    </div>

</div>