<!-- Aqui fica as mensagens de erro do Servidor-->
<div data-ng-if="sindriFormCtrl.globalErrorMessage.length">

    <div class="alert alert-danger alert-dismissible" role="alert"
         data-ng-repeat="(key, message) in sindriFormCtrl.globalErrorMessage" data-ng-hide="sindriFormCtrl.hide[key]">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                data-ng-click="sindriFormCtrl.hide[key] = true"><span aria-hidden="true">×</span></button>
        {{ message }}
    </div>

</div>

<div class="container-fluid">

    <form name="sindriForm" novalidate>

        <formly-form model="sindriFormCtrl.model" fields='sindriFormCtrl.formlyFields[""].fields' form="sindriFormCtrl.form"
                     data-ng-if='sindriFormCtrl.formlyFields[""]'></formly-form>

        <uib-tabset active="sindriFormCtrl.activeTab" vertical="false" type="pills">
            <uib-tab ng-repeat="(tabName, tab) in sindriFormCtrl.formlyFields" heading="{{ tabName }}" data-ng-if="tabName">
                <hr style="margin-top: -19px; border-top: 1px solid #2196f3;margin-bottom: 35px;">
                <formly-form model="sindriFormCtrl.model" fields='tab.fields' form="sindriFormCtrl.form"></formly-form>

            </uib-tab>
        </uib-tabset>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 text-left">
                * Indica campo obrigatório
                <!--<button type="submit" class="btn btn-danger" ng-disabled="sindriForm.$invalid"">Apagar Registro</button>-->

            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-primary" data-ng-click="sindriFormCtrl.save()">Salvar</button>
                &nbsp&nbsp
                <!--<button type="submit" class="btn btn-primary" ng-disabled="sindriForm.$invalid">Salvar e Adicionar Outro</button>-->
                <!--ou <a  href="#">Cancelar</a>-->
            </div>
        </div>

    </form>
</div>

